:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.container {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-info-section {
  padding: .5rem;
  background-color: beige;
  border-radius: 1rem;
  width: 10rem;
}

.image-section {
  height: 8rem;
  width: 8rem;
}